.footer__links_schedule {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: white;
  transition: .5s;
  text-decoration: none;
}

.footer__  links_schedule:hover {
    opacity: 80%;
}

@media screen and (max-width: 544px) {
  .footer__links_schedule {
    font-size: 24px;
    line-height: 24px;
  }
}
