
@font-face {
	src: url('../../fonts/Inter/static/Inter-Regular.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 400;
}

@font-face {
	src: url('../../fonts/Inter/static/Inter-Bold.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 700;
}

@font-face {
	src: url('../../fonts/Inter/static/Inter-Black.ttf') format('truetype');
  font-family: 'Inter';
  font-weight: 900;
}

.page {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  height: 100vh;
  background-color:#2A2C2F;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Inter', 'Helvatica', sans-serif;
  min-width: 320px;
}
