.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
  padding-left: 48px;
  padding-right: 48px;
  max-width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 896px){
  .header {
    min-width: 768px;
    max-width: 896px;
    padding-left: 24px;
    padding-right: 24px;
  }
}


@media screen and (max-width: 544px){
  .header {
    min-width: 320px;
    max-width: 544px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
