.cover {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin-right: 48px;
  margin-left: 48px;
  height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  margin-bottom: 92px;
}

.cover::before {
  content: '';
  background: #2a2a2a;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1152px){
  .cover {
    max-width: 1152px;
    max-height: 640px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 896px){
  .cover {
    max-width: 896px;
    height: 480px;
    margin-bottom: 88px;
  }
}


@media screen and (max-width: 720px){
  .cover {
    max-width: 720px;
    height: 200px;
    margin-bottom: 64px;
  }
}
