.links-footer {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  list-style-type: none;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 544px) {
  .links-footer {
    flex-direction: column;
    padding-bottom: 48px;
  }
}
