.footer {
  padding: 0 48px 24px 48px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .footer {
    max-width: 1152px;
  }
}

@media screen and (max-width: 896px) {
  .footer {
    max-width: 896px;
    padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    max-width: 720px;
    padding: 0 16px 24px 16px;
    flex-direction: column;
    align-content: space-between;
  }
}
