.list {
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  width: 690px;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 896px) {
  .list {
    width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .list {
    width: 288px;
  }
}
